<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title th:text="${post.title}">View Post</title>
</head>

<body>

<header th:replace="layout :: site-header" />

<main id="posts">
  <h1>Create a post <a th:href="@{/users/get_editor_listing}">Back</a></h1>

<form th:action="@{/posts/post_create}" method="post" enctype="multipart/form-data" th:object="${post}">
  <div><label for="title">Title:</label></div>
  <input id="title" type="text" name="title" th:value="*{title}" />
  <span class="formError" th:if="${#fields.hasErrors('title')}"
                                th:errors="*{title}">Invalid Title</span>

  <div><label for="bannerImage" th:value="*{bannerImage}">Image Banner:</label></div>
  <input id="bannerImage" type="file" name="file" />

  <div><label for="body" th:value="*{body}">Body</label></div>
  <input id="richtext" type="text" name="body" th:value="*{body}" />

  <div><input type="submit" value="Create"/></div>
</form>
</main>

<footer th:replace="layout :: site-footer" />

</body>

</html>