<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title th:text="${post.title}">View Post</title>
</head>

<body>

<header th:replace="layout :: site-header" />

<div class="container">
  <div class="row">
    <div class='col-sm-12'>
      <div class="row">
        <div class='col-sm-6'>
          <h1><strong>PREVIEW POST</strong></h1>
        </div>
        <div align="right" class='col-sm-6'>
          <h1>
              <a th:if="${post.status != 'Ready to publish'}" th:href="@{'/posts/post_edit/' + ${post.id}}">Edit &nbsp;</a>
		      <a th:if="${post.status != 'Ready to publish' && post.status != 'Published'}" th:href="@{'/posts/get_approval/' + ${post.id}}">Get Approval &nbsp;</a>
		      <a sec:authorize="hasAuthority('ADMIN')" th:if="${post.status != 'Reject'}" th:href="@{'/posts/reject/' + ${post.id}}">Reject &nbsp;</a>
		      <a sec:authorize="hasAuthority('ADMIN')" id="publishPostLink" th:if="${post.status != 'Published' && post.status != 'Reject'}" th:href="@{'/posts/publish/' + ${post.id}}">Publish &nbsp;</a>
		      <a th:href="@{/posts/get_post_listing}">Back</a>
	      </h1>
	      <div sec:authorize="hasAuthority('ADMIN')" th:if="${post.status != 'Published' && post.status != 'Reject'}" class="form-group">
              <div class='input-group date' id='datetimepicker1'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
          </div>
          <!-- <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
          </script> -->
        </div>
      </div>
    </div>
    <hr>
    <div class='col-sm-12'>
      	<h2 class="title">Post Title: <span th:text="${post.title}"></span></h2>
	    <div><img style="width:100%; max-width:900px;" th:src="${post.bannerImage} == null ? _ : @{'data:image/png;base64,'+${post.bannerImage}}"></div>
	    <p class="content">Post content: <span th:utext="${post.body}"></span></p>
	    <div align="right" class="date">
		    <i>Posted on</i>
		    <span th:text="${#dates.format(post.lastModified, 'dd-MMM-yyyy')}"></span>
		    <span th:if="${post.author}" th:remove="tag">
		    <i>by</i>
		    <span th:text="${post.author.fullName != null ?
		                     post.author.fullName : post.author.username}"></span>
		    </span>
	    </div>
    </div>
  </div>
</div>
<div th:replace="layout :: site-space"></div>
<footer th:replace="layout :: site-footer" />

</body>

</html>