<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
  <title>Editor Listing</title>
</head>

<body>

<header th:replace="layout :: site-header" />

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-8">
					<h1><strong>ADD NEW EDITOR</strong></h1>
				</div>
				<div class="col-sm-4">
					<h1 align="right"><a th:href="@{/users/get_editor_listing}">Back</a></h1>
				</div>
			</div>
		</div>
		<div class="col-sm-12">
			<form th:action="@{/users/add_editor}" method="post" th:object="${user}">
			  <div><label for="username">Username:</label></div>
			  <input class="form-control" id="username" type="text" name="username" th:value="*{username}" />
			  <span class="formError" th:if="${#fields.hasErrors('username')}"
			                                th:errors="*{username}">Invalid username</span>
			
			  <div><label for="password" th:value="*{password}">Password:</label></div>
			  <input class="form-control" id="password" type="password" name="password" th:value="*{password}" />
			  <span class="formError" th:if="${#fields.hasErrors('password')}"
			                                th:errors="*{password}">Invalid password</span>
			
			  <div><label for="fullName" th:value="*{fullName}">Full Name:</label></div>
			  <input class="form-control" id="fullName" type="text" name="fullName" th:value="*{fullName}" />
			  <span class="formError" th:if="${#fields.hasErrors('fullName')}"
			                                th:errors="*{fullName}">Invalid Full Name</span>
			
			  <div style="margin-top: 40px"><input class="btn btn-lg btn-primary btn-block" type="submit" value="Create"/></div>
			</form>
		</div>
	</div>
</div>

<div th:replace="layout :: site-space"></div>
<footer th:replace="layout :: site-footer" />

</body>

</html>