<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
  <title>Login</title>
</head>

<body>

<header th:replace="layout :: site-header" />

<!-- <form th:action="@{/}" method="get"> -->
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Registration Page</button>
<!-- </form> -->

<div class="container">
    <img th:src="@{/images/login.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo"/>
    <form th:action="@{/users/login}" method="POST" class="form-signin">
        <h3 class="form-signin-heading" th:text="Welcome"></h3>
        <br/>

        <input type="text" id="user_name" name="user_name" th:placeholder="User"
               class="form-control"/> <br/>
        <input type="password" th:placeholder="Password"
               id="password" name="password" class="form-control"/> <br/>

        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">User or Password invalid, please verify</p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
                th:text="Login"></button>
    </form>
</div>

<div th:replace="layout :: site-space"></div>
<footer th:replace="layout :: site-footer" />

</body>

</html>