<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
	<title>Welcome to Spring MVC</title>
</head>
<body>
	<header th:replace="layout :: site-header"/>
	<div class="container">
	    <h1>JAVA Blog Exercise - Latest public Post</h1>
	    Now is: <b th:text="${execInfo.now.time}"></b>
	    <hr>
	    <div class="row" th:each="post : ${latest3posts}">
	      <div class='col-sm-12'><h3 th:text="${post.title}"></h3></div>
	      <div class='col-sm-12'>
	        <div class="row">
	          <div class="col-sm-5">
	            <img style="width:100%; height: 80px;" class="img-responsive" th:src="${post.bannerImage} == null ? _ : @{'data:image/png;base64,'+${post.bannerImage}}">
	          </div>
	          <div class="col-sm-7">
	            <div class="row">
	              <div class="col-sm-12" th:utext="${post.body}"></div>
	              <div class="col-sm-12">Author : <i th:utext="${post.author}"></i></div>
	              <div class="col-sm-12">Date : <i th:utext="${post.lastModified}"></i></div>
	            </div>
	          </div>
	        </div>
	      </div>
	    
	    </div>
	</div>
	</body>
	<footer th:replace="layout :: site-footer"/>
</html>